* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    color: rgb(255,255,255);
    min-height: 100vh;
    overflow-x: hidden;
}

.hero {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

#herobg {
    flex: 1;
}

#aboutbg {
    min-height: 100vh;
}

.bg {
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, rgb(186, 173, 173) 0%, rgb(0,0,0) 100%);
    width: 100vw;
    overflow: hidden;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: repeating-linear-gradient(rgba(103, 76, 171,.5) 0, rgba(103, 76, 171,.5) 4px,
                                            transparent 4px, transparent 10px);
    opacity: 0.5;
    z-index: 1;
    animation: glitch 1s infinite linear;
    filter: blur(1px);
    overflow: hidden;
}

@keyframes glitch {
    0% {background-position: 0 0;}
    50% {background-position: 0 10px;}
    100% {background-position: 0 20px;}
}

.static {
    position: absolute;
    inset: -100%;
    z-index: 2;
    background-image: url("images/static2.jpg");
    opacity: 0.05;
    animation: noise 0.2s linear infinite both;
}

@keyframes noise {
    0% {transform: translateX(15%) translateY(15%);}
    100% {transform: translateX(-15%) translateY(-15%);}
}

.cursor {
    display: inline-block;
    background-color: rgb(103, 76, 171);
    width: 6px;
    height: 20px;
    animation: flicker 1.5s steps(1) infinite;
}

@keyframes flicker {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.myNav {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(103, 76, 171);
    opacity: 0.7;
    height: 100px;
    font-size: 20px;
    top: 0;
    z-index: 999;

}

.navBar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 50px;
}

#navLogo {
    background-color: rgb(224,224,224);
    background-image: linear-gradient(to right, rgb(27, 20, 161) 0%, rgb(98, 14, 119) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-colot: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 3.2rem;
    font-family: "Brush Script MT", cursive;
    font-weight: bold;
    opacity: 1;
}

.navMenu {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

.navToggle {
    display: none;
}

.navItem {
    height: 80px;
}

.navLinks {
    display: flex;
    color: rgb(225,225,225);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1.5rem 0.5rem;
    font-weight: bold;
}

.navLinks:hover {
    color: cyan;
    transition: all 0.2s ease;
}

/* FOR SMALL SCREENS */
@media screen and (max-width: 800px) {

    .myNav.goDark {
        opacity: 0.95;
        transition: all 0.3s ease;
    }

    .navBar {
        justify-content: space-between;
        height: 100px;
        width: 100%;
        max-width: 1500px;
        padding: 0;
    }   

    .navMenu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        max-height: 60vh;
        overflow-y: auto;
        width: 100%;
        top: -1500px;
        position: absolute;
        transition: all 0.2s ease;
        background-color: rgb(103, 76, 171);
        opacity: 1;
    }

    .navMenu.active {
        top: 100%;
        transition: all 0.3s ease;
        opacity: 1;
        z-index: 999;
    }

    #navLogo {
        padding-left: 10px;
    }

    .bar{
        display: block;
        width: 40px;
        height: 4px;
        margin: 4px 0;
        background: rgb(225,225,225);
        z-index: 1000;
        transition: all 0.2s ease-in-out;
    }

    #mobile {
        position: absolute;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        top: 20px;
        right: 20px;
        transition: all 0.2s ease-in-out;
    }

    #mobile.active .bar:nth-child(1) {
        transform: translateY(11.8px) rotate(45deg);
    }

    #mobile.active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile.active .bar:nth-child(3) {
        transform: translateY(-11.8px) rotate(-45deg);
    }

    .navLinks {
        width: 100%;
        text-align: center;
        padding: 1rem;
        display: table;
        z-index: 1000;
    }
    
    .navItem {
        width: 100%;
        border-bottom: 1px solid white;
    }

    .navItem:first-child {
        border-top: 1px solid white;
    }
}

.Joshua {
    padding: 52px;
    text-align: center;
}

#title, #description {
    text-align: center;
}

.retro {
    position: relative;
    /*font-family: 'Press Start 2P', sans-serif;*/
    font-family: monospace;
    /*color: rgb(103, 76, 171);*/
    color: rgb(255, 255, 255);
    /*text-shadow: 0px 0px 5px rgba(103, 76, 171, 0.903);*/
    text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.9);
}
/*
.retro::before, .retro::after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: rgb(103, 76, 171);
    z-index: -1;
    opacity: 0.5;
}

.retro::before {
    left: 2px;
    text-shadow: -2px 0 red;
    animation: glitch 1s infinite linear;
}
.retro::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    animation: glitch 1.5s infinite linear;
}

@keyframes glitch {
    0% {
        clip: rect(0,900px,0,0);
    }
    25% {
        clip: rect(0,900px,30px,0)
    }
    50% {
        clip:rect(60px,900px,90px,0);
    }
    75% {
        clip: rect(90px,900px,150px,0);
    }
    100% {
        clip: rect(120px,900px,150px,0);
    }
}*/

.myPhoto {
    width: 25vw;
    border-radius: 50px;
    height: auto;
    border: 2px solid rgb(200,3,200);
    /*animation: zoomIn 1.5s ease;*/
}

/*
@keyframes zoomIn {
    0% {
        transform: scale(0.6);
    }
    100% {
        transform: scale(1);
    }
}*/

.footerBar {
    position: relative;
    z-index: 10;
    height: 41px;
    background-color: rgb(103, 76, 171);
}

.footerBar p {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.footerBar p:nth-child(1) {
    padding-top: 5px;
    font-size: 16px;
}

.footerBar p:nth-child(2) {
    padding-bottom: 5px;
    font-size: 10px;
}

.footerBar a {
    color: inherit;
}

.footerBar a:hover {
    color: cyan;
}

#title2 {
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    color: rgb(200,3,200);
}

.aboutContainer {
    padding: 60px 80px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.firstHalf {
    flex-basis: 60%;
    padding: 20px;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(200,3,200), white) 1;
}

.pFont {
    color: white;
    font-family: monospace;
    font-size: 15px;
    padding-bottom: 20px;
}

.secondHalf {
    flex-basis: 30%;
}
.secondHalf img {
    border-radius: 100%;
    width: 100%;
    border: 5px double rgb(200,3,200);
}

.detailsDiv {
    text-align: center;
    font-size: 20px;
}

.detailsDiv h2 {
    padding-top: 40px;
    color: rgb(200,3,200);
}

.detailsDiv h3 {
    padding-top: 5px;
}

.skills {
    padding-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}


.skills figure {
    position: relative;
    z-index: 10;
}

.skills figure img {
    position: relative;
    z-index: 10;
    object-fit: contain;
    width: 70px;
    height: 70px;
    transition: transform 0.2s ease;
}

.skills figure img:hover {
    transform: scale(1.2);
}

.skills figcaption {
    object-fit: contain;
    font-size: 13px;
}

.education {
    padding-top: 20px;
}

.education h5, .workBox h5 {
    padding-bottom: 20px;
}

.firstHalfEducation {
    flex-basis: 47.5%;
    padding: 10px 20px;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(200,3,200), white) 1;
}

.secondHalfEducation {
    flex-basis: 47.5%;
    padding: 10px 20px;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(200,3,200), white) 1;
}

.workExperience {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.workBox {
    padding: 10px 20px;
    width: 50%;
    border: 2px solid;
    border-image: linear-gradient(135deg, rgb(200,3,200), white) 1;
}

@media screen and (max-width: 800px) {
    .myPhoto {
        width: 40vw;
        height: auto;
    }

    .firstHalf {
        flex-basis: 100%;
    }

    .secondHalf {
        padding-top: 20px;
        flex-basis: 100%;
    }

    .firstHalfEducation {
        flex-basis: 100%;
    }

    .secondHalfEducation {
        flex-basis: 100%;
    }

    .workBox {
        flex-basis: 100%;
    }

    .footerBar {
        height: 60px;
    }
}